<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="container py-5" style="max-width: 540px">
    <h1 class="text-center">Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="mb-3">
        <label class="form-label w-100 mb-0">
          Full Name
          <%= f.text_field :full_name, class: 'form-control mt-2', placeholder: 'Full Name' %>
        </label>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="mb-4">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
      </div>

      <div class="mb-3">
        <%= f.submit 'Sign up', class: 'btn btn-dark w-100', placeholder: 'Submit' %>
      </div>
    <% end %>

    <div class="mb-3 text-center">
      Already have an account? <%= link_to 'Log in', new_user_session_path %>
    </div>
  </div>
</div>
