<%= turbo_frame_tag dom_id(post) do %>
  <div class="post d-flex p-3">
    <div class="flex-shrink-0">
      <%= image_tag post.user.profile_picture_url, size: '42x42', alt: 'Profile picture', class: 'rounded-circle' %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="mb-1">
        <span class="fw-semibold"><%= post.user.full_name %></span>
        <span class="text-muted">@<%= post.user.username %> • <%= time_ago_in_words(post.created_at) %></span>
      </p>
      <p class="mb-0"><%= simple_format(post.body) %></p>

      <div class="d-flex justify-content-evenly">
        <%= link_to '', class: 'link-dark text-decoration-none action-link' do %>
          <i class="bi bi-chat me-1"></i>
        <% end %>
        <%= link_to '', class: 'link-dark text-decoration-none action-link' do %>
          <i class="bi bi-arrow-repeat me-1"></i>
        <% end %>
        <%= link_to '', class: 'link-dark text-decoration-none action-link' do %>
          <i class="bi bi-heart me-1"></i>
        <% end %>
        <%= link_to '', class: 'link-dark text-decoration-none action-link' do %>
          <i class="bi bi-bar-chart me-1"></i>
        <% end %>
        <%= link_to '', class: 'link-dark text-decoration-none action-link' do %>
          <i class="bi bi-bookmark me-2"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
